@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.navbar-light .navbar-nav .nav-link {
    color: rgb(187, 147, 2);
}

.beach-img {
    max-width: 100%;
}

.festival-img {
    width: 100%;
}

.elmina-img {
    width: 100%;
}

/* .img-fluid {
    max-width: 100%;
} */

.home-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 7rem;
    width: 20%;
    text-align: center;
    margin-top: -55%;
    margin-bottom: 33%;
    margin-left: 26%;
    color: #ffdcb1;
    border: 3px solid;
    padding-top: 0%;
    padding-bottom: 0%; 
    white-space: nowrap;
}

.home-about {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-size: 1.5rem;
    width: 20%;
    text-align: center;
    margin-top: -32%;
    margin-bottom: 40%;
    margin-left: 33%;
    color: #fff;
    border: 3px solid;
    padding-top: 0%;
    padding-bottom: 0%; 
    white-space: nowrap;
}

.about-btn {
  position: absolute;
  top: 20%;
  left: 46%;
  background-color: rgba(0,0,0, 0.3);
  color: rgba(255, 255, 255);
  font-size: 1rem;
  border: 3px solid white;
  cursor: pointer;
}

.btn:hover {
    background: rgb(187, 147, 2);
    border-color: rgb(187, 147, 2);
}

.festival-btn {
  position: absolute;
  top: 53%;
  left: 46%;
  background-color: rgba(0,0,0, 0.6);
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
  border: 3px solid white;
  cursor: pointer;
}

.elmina-btn {
  position: absolute;
  top: 83%;
  left: 46%;
  background-color: rgba(0,0,0, 0.6);
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
  border: 3px solid white;
  cursor: pointer;
}

.btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}

.social-links li a i {
    width: 250%;
    height: 350%;
    padding: 10px 0;
    border-radius: 50%;
    border: 1px solid rgb(187, 147, 2);
    font-size: 1rem;
    text-align: center;
    color: white;
    background: rgb(187, 147, 2);
    margin-left: 700%;
    /* transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; */
}

.social-links li a i:hover {
    background: #ffdcb1;
    color: rgb(187, 147, 2);
}

.about-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    width: 20%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 43%;
    margin-left: 40%;
    color: rgb(187, 147, 2);
    white-space: nowrap;
}

.about-title {
    margin-top: -35%;
    font-weight: 150;
}

.friends-img {
    margin-top: 3%;
}

.about-us {
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.festival-logo {
    font-family: "Roboto", sans-serif;
    color: rgb(187, 147, 2);
    margin-top: 10%;
    font-weight: 300;
    font-size: 3rem;
    width: 20%;
    text-align: center;
    white-space: nowrap;
    margin-top: 20%;
    margin-left: 70%;
}

.festival-title {
    margin-top: 20%;
    margin-left: 130%;
    font-weight: 150;
}

.img-fst1 {
    width: 115%;
    height: 85%;
    margin-left: -20%;
    margin-top: 10%;
}

.headline-fst {
    margin-top: 9%;
    margin-left: -5%;
    font-weight: 100;
    width: 110%
}

.about-fst {
    width: 110%;
    margin-left: -5%;
    margin-top: 5%;
}

.img-fst2 {
    margin-left: -20%;
    width: 115%;
    margin-top: 5%;
}

.itinerary-header-fst {
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 5%;
}

.img-fst3 {
    margin-left: -20%;
    width: 115%;
    margin-top: 3%;
}

.paym-hdr-fst {
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 3%;
}

.paym-fst {
    margin-top: -5%;
}
