@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.navbar-light .navbar-nav .nav-link {
    color: rgb(187, 147, 2);
}

.beach-img {
    width: 100vw;
    height: 100vw;
}

.festival-img {
    width: 100vw;
    height: 80vw;
}

.elmina-img {
    width: 100vw;
    height: 80vw;
}

.home-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 12vw;
    text-align: center;
    margin-top: -80%;
    margin-bottom: 30%;
    color: #ffdcb1;
    white-space: nowrap;
}

.home-about {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-size: 3vw;
    text-align: center;
    margin-top: -33%;
    margin-bottom: 30%;
    color: #fff;
    border: 3px solid;
    white-space: nowrap;
}

.about-btn {
  position: absolute;
  top: 70%;
  left: 43%;
  background-color: rgba(0,0,0, 0.3);
  color: rgba(255, 255, 255);
  font-size: 2vw;
  border: 3px solid white;
  cursor: pointer;
}

.btn:hover {
    background: rgb(187, 147, 2);
    border-color: rgb(187, 147, 2);
}

.festival-btn {
  position: absolute;
  top: 45%;
  left: 43%;
  background-color: rgba(0,0,0, 0.6);
  color: rgba(255, 255, 255);
  font-size: 2vw;
  border: 3px solid white;
  cursor: pointer;
}

.elmina-btn {
  position: absolute;
  top: 45%;
  left: 43%;
  background-color: rgba(0,0,0, 0.6);
  color: rgba(255, 255, 255);
  font-size: 2vw;
  border: 3px solid white;
  cursor: pointer;
}

.btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}

.social-links li a i {
    width: 250%;
    height: 350%;
    padding: 10px 0;
    border-radius: 50%;
    border: 1px solid rgb(187, 147, 2);
    font-size: 1rem;
    text-align: center;
    color: white;
    background: rgb(187, 147, 2);
}

.social-links li a i:hover {
    background: #ffdcb1;
    color: rgb(187, 147, 2);
}

.about-bg {
    background-image: url("../images/palms.jpg");
}

.about-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 8vw;
    width: 20%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 43%;
    margin-left: 24%;
    color: rgb(187, 147, 2);
    white-space: nowrap;
}

.about-title {
    margin-top: -35%;
    font-weight: 150;
}

.friends-img {
    margin-top: 3%;
}

.about-us {
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;
    background-color: rgb(255 255 255 / 75%);
}

.festival-logo {
    font-family: "Roboto", sans-serif;
    color: rgb(187, 147, 2);
    margin-top: 10%;
    font-weight: 300;
    font-size: 8vw;
    width: 20%;
    text-align: center;
    white-space: nowrap;
    margin-top: 20%;
    margin-left: 40%;
}

.festival-title {
    margin-top: 20%;
    /* margin-left: 130%; */
    font-weight: 150;
}

.img-fst1 {
    width: 115%;
    height: 85%;
    margin-left: -10%;
    margin-top: 10%;
}

.headline-fst {
    margin-top: 9%;
    margin-left: -3%;
    font-weight: 100;
    width: 110%;
    text-align: center;
}

.about-fst {
    width: 103%;
    /* margin-left: 2%; */
    margin-top: 5%;
    text-align: center;
}

.img-fst2 {
    margin-left: -10%;
    width: 115%;
    margin-top: 5%;
}

.itinerary-header-fst {
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 3%;
    text-align: center;
}

.itinerary-fst {
    /* margin-left: 10%; */
    text-align: center;
}

.img-fst3 {
    margin-left: -10%;
    width: 115%;
    margin-top: 3%;
}

.paym-hdr-fst {
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 3%;
    margin-left: 3%;
    text-align: center;
}

.paym-fst {
    margin-top: -5%;
    /* margin-left: 10%; */
    text-align: center;
}

.btn-fst {
    background: rgb(187, 147, 2);
    border: 3px solid rgb(187, 147, 2);
    border-color: rgb(187, 147, 2);
    margin-left: 42%; 
    margin-top: 10%;
}

.btn-fst:hover {
    background-color: #fff;
    color: rgb(187, 147, 2);
}

.social-links {
    white-space: nowrap;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #8A6C00;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-fst {
    /* margin-left: 190%; */
    margin-top: 10%;
}

.home-social-links {
    margin-top: -10%;
    margin-bottom: -5%;
}
